In [35]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('../static/data/bAllSpeedData.csv')

In [37]:
df

,11,12,13,57,58,59,60,61,62,63,...,1524,1553,1554,1575,1576,1577,1578,1632,1671,1672
0,46.34,39.59,59.88,38.33,10.18,28.91,39.66,56.58,23.01,5.84,...,45.76,36.12,48.72,6.34,43.85,43.48,35.75,5.24,20.67,54.21
1,38.03,13.17,23.76,48.91,5.03,52.11,5.90,27.33,69.95,101.60,...,62.12,38.98,8.66,34.06,35.13,46.78,11.55,96.25,30.58,46.65
2,48.86,8.40,25.56,20.75,12.20,41.78,7.87,23.98,31.28,68.32,...,47.75,44.35,37.85,6.65,35.87,11.68,39.51,15.52,39.49,52.21
3,16.57,5.83,23.14,22.65,24.16,34.37,11.72,9.51,29.26,10.22,...,45.56,61.85,12.35,10.39,26.51,40.02,37.48,16.87,44.48,6.16
4,28.01,18.24,17.12,30.64,11.39,37.01,13.04,43.09,10.52,6.65,...,63.72,14.31,34.75,19.55,41.45,14.98,38.80,8.36,37.04,5.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df = df.transpose()

In [39]:
df

,0,1,2,3,4,5,6,7,8,9,...,118714,118715,118716,118717,118718,118719,118720,118721,118722,118723
11,46.34,38.03,48.86,16.57,28.01,34.16,29.77,30.12,6.63,43.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,39.59,13.17,8.40,5.83,18.24,11.64,22.89,5.21,21.91,32.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,59.88,23.76,25.56,23.14,17.12,16.34,33.62,15.09,34.39,19.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,38.33,48.91,20.75,22.65,30.64,18.69,25.78,39.79,39.78,33.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,10.18,5.03,12.20,24.16,11.39,14.04,12.83,13.78,7.82,20.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1577,43.48,46.78,11.68,40.02,14.98,38.19,12.30,17.67,24.69,40.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1578,35.75,11.55,39.51,37.48,38.80,30.28,35.70,20.77,19.69,35.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,5.24,96.25,15.52,16.87,8.36,9.37,20.20,16.17,5.70,7.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1671,20.67,30.58,39.49,44.48,37.04,41.80,15.06,29.85,39.71,34.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1672,54.21,46.65,52.21,6.16,5.56,71.50,5.29,7.70,112.42,51.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
len(df.columns[0:12])

12

In [41]:
# 12개의 컬럼씩 합산하여 새로운 데이터프레임 생성
merged = pd.DataFrame()
merged.index = df[0].index
for i in range(0, len(df.columns), 12):
    cols = df.columns[i:i+12]
    sums = df[cols].sum(axis=1) / len(cols)
    merged = pd.concat((merged, sums.rename(int(i/12))), axis=1)

In [42]:
merged

,0,1,2,3,4,5,6,7,8,9,...,9884,9885,9886,9887,9888,9889,9890,9891,9892,9893
11,33.579167,26.910000,28.155000,24.686667,29.895000,35.267500,21.983333,31.218333,26.796667,24.420000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,24.084167,21.895000,20.180833,27.275000,19.248333,23.406667,17.956667,24.536667,21.600833,23.638333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,26.522500,16.105000,22.465000,22.448333,18.923333,27.062500,20.355833,16.673333,24.445000,21.748333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,32.190000,27.965833,31.195833,21.195000,23.894167,25.116667,22.785000,20.805000,28.003333,30.810833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,14.440000,16.990000,20.951667,16.150000,22.339167,16.417500,21.053333,14.981667,18.535833,16.271667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1577,29.667500,31.666667,34.433333,29.895833,30.500000,28.839167,31.672500,25.193333,33.670000,20.010833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1578,31.484167,27.947500,26.062500,25.740000,30.822500,28.750833,21.705833,29.649167,35.625000,34.115000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1632,26.142500,18.987500,18.950000,9.186667,14.904167,9.846667,11.245833,10.921667,13.111667,10.080833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1671,32.479167,32.438333,38.664167,31.499167,30.252500,35.825833,39.920833,33.675000,35.930833,31.965000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1672,40.525833,26.235833,41.304167,28.000000,33.390000,32.604167,22.256667,24.435833,25.676667,31.795000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
merged.to_csv("../static/data/bAllSpeedData_Transposed.csv")