In [4]:
import json

# GeoJSON 파일을 열고 파싱
with open('../static/data/sanfrancisco/Analysis Neighborhoods(b).geojson') as f:
    data = json.load(f)

# FeatureCollection 내의 모든 feature의 "nhood" 속성값 추출
nhood_list = [feature['properties']['nhood'] for feature in data['features']]

print(nhood_list)

['Western Addition', 'West of Twin Peaks', 'Visitacion Valley', 'Twin Peaks', 'South of Market', 'Treasure Island', 'Presidio Heights', 'Presidio', 'Potrero Hill', 'Portola', 'Pacific Heights', 'Outer Richmond', 'Outer Mission', 'Sunset/Parkside', 'Oceanview/Merced/Ingleside', 'North Beach', 'Noe Valley', 'Lone Mountain/USF', 'Lincoln Park', 'Seacliff', 'Nob Hill', 'Mission Bay', 'Mission', 'Russian Hill', 'Marina', 'Lakeshore', 'Tenderloin', 'McLaren Park', 'Japantown', 'Inner Sunset', 'Hayes Valley', 'Haight Ashbury', 'Golden Gate Park', 'Inner Richmond', 'Glen Park', 'Financial District/South Beach', 'Excelsior', 'Chinatown', 'Castro/Upper Market', 'Bernal Heights', 'Bayview Hunters Point']

In [12]:
import os

for nhood in nhood_list:
    name = nhood.replace(" ", "_").replace("/", "_")
    if os.path.exists(f"../static/data/sanfrancisco/districts/{name}.csv"):
        print(name)

South_of_Market
North_Beach
Nob_Hill
Mission_Bay
Russian_Hill
Tenderloin
Financial_District_South_Beach

In [2]:
import pandas as pd

In [4]:
road_tci_time_df = pd.read_csv("../static/data/sanfrancisco/road_tci_time.csv")

In [15]:
road_tci_time_df.columns

Index(['Time', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '4458', '4459', '4460', '4461', '4462', '4463', '4464', '4465', '4466',
       '4467'],
      dtype='object', length=4469)

In [14]:
road_tci_time_df.loc[:, 'Time']

0      2008-05-17 00:00:00
1      2008-05-17 01:00:00
2      2008-05-17 02:00:00
3      2008-05-17 03:00:00
4      2008-05-17 04:00:00
              ...
581    2008-06-10 05:00:00
582    2008-06-10 06:00:00
583    2008-06-10 07:00:00
584    2008-06-10 08:00:00
585    2008-06-10 09:00:00
Name: Time, Length: 586, dtype: object

In [27]:
dest_field = 'Time'
road_tci_time_df[(road_tci_time_df[dest_field] > '2008-05-18') & (road_tci_time_df[dest_field] < '2008-06-08')]

,Time,0,1,2,3,4,5,6,7,8,...,4458,4459,4460,4461,4462,4463,4464,4465,4466,4467
24,2008-05-18 00:00:00,NaN,NaN,NaN,0.311525,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.100368,NaN,NaN,0.382273,NaN
25,2008-05-18 01:00:00,NaN,NaN,NaN,0.416387,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.120943,NaN,NaN,0.489441,NaN,NaN,NaN
26,2008-05-18 02:00:00,NaN,NaN,NaN,0.765707,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.155719,1.153277,NaN,NaN,NaN,NaN,0.891267,NaN
27,2008-05-18 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.938465,NaN,NaN,NaN,0.386893,NaN,NaN,NaN
28,2008-05-18 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.772096,NaN,NaN,0.870682,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,2008-06-07 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.571317,NaN
524,2008-06-07 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.638304,NaN,NaN,NaN,NaN,NaN,NaN,1.344598,NaN
525,2008-06-07 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.518015,0.395839,NaN,NaN,0.791005,NaN,NaN,0.247203,NaN
526,2008-06-07 22:00:00,NaN,NaN,NaN,0.979503,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.531773,NaN,0.741217,NaN
527,2008-06-07 23:00:00,NaN,NaN,NaN,1.075241,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.01962,NaN,1.245312,NaN,1.428117,NaN

In [30]:
filtered = road_tci_time_df[(road_tci_time_df[dest_field] > '2008-05-18') & (road_tci_time_df[dest_field] < '2008-06-08')]

In [37]:
filtered.max()

Time    2008-06-07 23:00:00
0                  1.137873
1                  1.895486
2                  1.265882
3                  1.242666
               ...
4463               1.236477
4464                 1.7749
4465               1.263293
4466                1.57736
4467               1.486569
Length: 4469, dtype: object

In [45]:
filtered.max()['4467']

1.4865687465898267

In [64]:
filtered[['0', '4456']]

      0      4456
24  NaN       NaN
25  NaN       NaN
26  NaN  0.747268
27  NaN       NaN
28  NaN       NaN
..   ..       ...
523 NaN       NaN
524 NaN       NaN
525 NaN       NaN
526 NaN  1.069712
527 NaN       NaN

[504 rows x 2 columns]

In [83]:
filtered[['0', '4456']].mean().mean()

0.8243927019399051

In [82]:
filtered[['0', '4456']].mean(axis=1).mean()

0.768037659694927

In [78]:
filtered[['0', '4456']].describe()

               0        4456
count  10.000000  200.000000
mean    0.884832    0.763954
std     0.178032    0.285428
min     0.581744    0.066600
25%     0.786093    0.562392
50%     0.918904    0.771733
75%     1.005007    1.006913
max     1.137873    1.215236

In [86]:
filtered[['0', '4456']].count().sum()

210

In [87]:
filtered[['0', '4456']].sum().sum() / filtered[['0', '4456']].count().sum()

0.7697096453429392

In [104]:
filtered.count()

Time    504
0        10
1        10
2        65
3       153
       ...
4463    149
4464    249
4465     81
4466    296
4467     31
Length: 4469, dtype: int64

In [116]:
from datetime import datetime
print(datetime.strptime("2008-06-07 23:00:00", "%Y-%m-%d %H:%M:%S"))
print(datetime.strptime("2008-06-07", "%Y-%m-%d"))

2008-06-07 23:00:00
2008-06-07 00:00:00

In [114]:
a = datetime.strptime("2008-06-07", "%Y-%m-%d").replace(hour=23, minute=59, second=59)
print(a)

2008-06-07 23:59:59